html{
    background-color: cadetblue;
}

body{
    padding: 10em;
}

.js-clock h1{ 
    text-align: center;
    font-size: 6em;
    color: white;
}

.js-form,
.greeings{
    text-align: center;
    display: none;
}

.js-grettings{
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.showing{
    display: block;
}